body {
  margin: 0px;
  padding: 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.container {
  max-width: 800px;
  margin: 50px auto;
}

h1 {
  text-align: center;
}

.chartjs-render-monitor{
}
#info_and_line{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 300px;
}


#title_date{
  background-color: #ff6314;
  color: #ffffff;
}

#pieDonut{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}
#pie{

}

#donut{

}

#chartSelect{
  align: center;
}
