body {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 50px auto;
}

h1 {
  text-align: center;
}

#all_charts{
  display: flex;
  flex: auto;
  flex-direction: column;
}

#lineCss {

}

#pieDonut{
  display: flex;
  flex-direction: row;
  margin: 0;
  
}
#pieCss{
  display: flex;
}

#donutCss{
  display: flex;
}
