body {
  margin: 0px;
  padding: 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.container {
  max-width: 800px;
  margin: 50px auto;
}

h1 {
  text-align: center;
}

.chartjs-render-monitor{
}

#info_and_line{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 20px 20px 20px;
}

#info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 300px;
  max-width: 600px;
  text-align: center;
  align-items: center;
  border-right: 1px solid #d7d7d7;
  border-spacing: 150px;
  padding: 20px 20px 20px 20px;
}

#line_chart{
  padding: 20px 20px 20px 20px;
}

#info .p {
    font-weight: bold;
}

#title_date{
  background-color: #ff6314;
  color: #ffffff;
}

#pieDonut{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 20px 20px 20px;

}

#show_links {
  width: 400px;
  padding: 20px 20px 20px 20px;
}
#donut_chart{
  width: 400px;
  padding: 20px 20px 20px 20px;
}

#pie_chart{
  width: 400px;
  padding: 50px 20px 20px 20px;

}

#chartSelect{
  align: center;
}
